.left {
    width: 20%;
    float: left;
    background-color : black;
}
.navbar-nav{
    margin: 10;
    padding: 10;
    list-style: none;
    background-color: black;
}
.navbar-nav li{
    margin: 1px 0;
    border: 0.5px solid #999;
}
.navbar-nav li a{
display: block;
line-height: 3em;
/* width: 50%; */
text-decoration: none;
color: white;
/* position: center; */
/* padding-left: 35%; */
padding-right: 25%;
}
/* body{
    background-color: black;
} */
a{
    margin: 60px;
}