/* .rightpane {
    height: 100%;
    width: 70%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
    right: 0;
background-color:white;
  } */
  h1{
  /* align-content : center ; */
  color: orange;
  left: 50%;
  
  }

  .tex{ 
      z-index: 0;
    height: 100%;
    width: 78%;
    position: fixed;
    top: 0;
    overflow-x: hidden;
    padding-top: 2%;
    right: 0;
    padding-left: 22%;
background-color :rgba(0, 0, 0, 0.76);
  
}
@media screen and (max-width:640px){
    .rightpane {
        width:30%;
    }
    h1 { 
        width : 30%;
    }
    ngx-charts-pie-grid{
        width :30%;
        }
}

@media screen and (max-width:320px){
    .rightpane {
        width:30%;
    }
    h1 { 
        width : 30%;
    }
    ngx-charts-pie-grid{
        width :30%;
        }
}