<html>
  <body>
    <div class = "container">
      <div class = "tex">
          <h1>Aware of the problem<br>
            Focus on the solution<br>
            Drive to do great<br></h1>

              <!-- <div class="basic" style="background-image: url(/assets/Pro.jpg) "> </div>     -->
              <section id="img-div">
                <img id="light-bulb-off" src="https://hakabuk.com/fcc/resources/tribute-page/base-light-bulb-icon.png">
                <img id="light-bulb-on" src="https://hakabuk.com/fcc/resources/tribute-page/light-bulb-icon.png">
                </section>
            </div>

          </div>
</body>
</html>

