/* .tex{ 
        height: 100%;
        width: 78%;
        position: fixed;
        top: 0;
        overflow-x: hidden;
        padding-top: 20px;
        right: 0;
        background-color : rgba(0, 0, 0, 0.76);

    } */

        

/* h1{
    padding: 35px;
    color:gold;
    top: 40%;
    left: 35%;
} */

/* @media screen and (max-width:959px){
    .container {
        width:100%;
    }
    h1 { 
        width : 100%;
    }
}
@media screen and (max-width:640px){
    .container {
        width:30%;
    }
    h1 { 
        width : 30%;
    }
}
@media screen and (max-width:320px){
    .container {
        width:30%;
    }
    h1 { 
        width : 30%;
    }
} */