
<!DOCTYPE html>
<html>
<div class = "container text-center myname aboutme bg-1">
    
    <div class="col-md-3">
        <img src = "assets/AdyaAboutMe.jpg" class="aboutme-img">
    </div>
    <div class = "col-md-9">
    <h1>Adya Shukla</h1>
    <p  class="pfont"><span class="glyphicon glyphicon-heart"></span>&nbsp;Life so far<br>
        <li> Breathing since 1994</li>
        <li>Born and brought up in Lucknow</li>
        <li>Completed Graduation in 2017</li>
        <li>Completed internship of 6 months from Frsche Solutions</li>
        <li>Currently working as Software Developer in Fresche Solutions</li>
    </p> 
    </div>
    </div>
    </html>