@import url('https://fonts.googleapis.com/css?family=Lato');

body, html {
    width: 100%;
    height: 50%;
    margin: 0;
  }

h1{
    color: black;
    font-size: 50px;
    position: relative;
    padding-left: 500px;
}
h4{
    color :blue;
    font-size : 20px;
    margin-left: 10px;
    margin-top: 40px;
    text-align: center;
    /* font-weight: 100; */
}
h2{
    /* margin-left: 100px; */
    text-align: center;
}
h5{
    color :black;
    font-size : 20px;
    margin-left: 10px;
    margin-top: 40px;
    text-align: center;  
}
p{
   /* margin-left: 100px; */
   text-align: center;
   font-family: Arial, Helvetica, sans-serif ;
   margin-top: 40px;
   font-weight: 150;
   margin: 30px;
}
.basic{
    height: 700px;
    position: relative;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.intro {

    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    }
    .container {
        width: 100%;
        height: 100%;
      }
    
    .middlepane {
            height: 100%;
            width: 75%;
            position: fixed;
            /* z-index: 1; */
            top: 0;
            overflow-x: hidden;
            padding-top: 20px;
            right: 0;
  background-color:white;
          
    }
    img{
        margin-top: 30px;
    }
    .tex{ 
        height: 100%;
        width: 78%;
        position: fixed;
        /* z-index: 1; */
        top: 0;
        overflow-x: hidden;
        padding-top: 20px;
        right: 0;
background-color : white;
background: url('/assets/port.jpg') no-repeat center;
      
}

     