
<html>
  <body>
  <!-- <div class="basic"> -->
    <!-- <div class="leftpane">
        <img class = "intro" src = '/assets/Adyas.jpg'>
    <h5>Name : Adya Shukla<br>
        Qualification : B.Tech<br>
        Works as Java Developer<br>
        Lives in : Lucknow<br>
        Interests : Reading and <br>
        spending time with loved ones<br>
    </h5>

     </div> -->
    

    <!-- <div class="middlepane"> -->
        <div class="profile-content">
        <h4> 
           " Greatness comes by doing a few small 
            and smart things each and every day.
            Comes from taking little steps, consistently.
            Comes from a making a few small chips 
            against everything in your professional and
            personal life that is ordinary, 
            so that a day eventually arrives when 
            all that's left is The Extraordinary."</h4>        
        <h5>Whether I am planning an event, 
            learning a new programming language, or 
            managing multiple social media accounts,
            I approach every problem with the same
            can-do attitude.
            I am highly motivated and results-driven.                    
           </h5>
        </div>
    <!-- </div> -->
<!-- </div> -->
</body>
</html>