
<html>
  <body>
  <div class="basic">
    <div class="leftpane">
        <img class = "intro" src = '/assets/Adyas.jpg'>
    <h5>Name : Adya Shukla<br>
        Qualification : B.Tech<br>
        Works as Java Developer<br>
        Lives in : Lucknow<br>
        Interests : Reading and <br>
        spending time with loved ones<br>
    </h5>

     </div>
    

    <div class="middlepane">
        <h4> 
           " Greatness comes by doing a few small <br>
            and smart things each and every day.<br>
            Comes from taking little steps, consistently.<br> 
            Comes from a making a few small chips <br>
            against everything in your professional and<br>
            personal life that is ordinary, <br>
            so that a day eventually arrives when <br>
            all that's left is The Extraordinary."</h4>        
        <h5>Whether I am planning an event, <br>
            learning a new programming language, or <br>
            managing multiple social media accounts,<br>
            I approach every problem with the same<br>
            can-do attitude.<br>
            I am highly motivated and results-driven. <br>                   
           </h5>
    </div>
</div>
</body>
</html>