
<div class="container-fluid text-center">
<div class="col-md-12 container   bg-1 myname ">
    <!-- <div class="text-center"> -->
        <div id="cf">
            <img class="bottom img-circle" src="src/assets/Adyas1.jpg">
            <img class="top img-circle" src="src/assets/P2.jpg" />
        </div>
        <div class="slide-left">
            <h3>I'm a Software Developer
                <br> I believe-
                <br> The enemy of creativity is Self-doubt</h3>
        </div>
    <!-- </div> -->
</div>
</div>