/* html{
  margin : -1px;
} */
/* body{
    position: relative;
} */
html, body {
  overflow-x: hidden;
}
h3{
  padding-top: 1%;
  padding-bottom: 10%;
}
.container-fluid {
  padding-right: 0px !important;
  padding-left: 2px !important;
  margin-right: -1% !important;
  margin-left: -5px !important;
}

.navbar {
    margin-bottom : 0;
    border-radius :0px !important;
    color :#FFF ;
    font-family: 'Aladin' !important;
    font-size: 20px;
    padding : 1% 0;
    font-size : 1.2em;
    border : 0;
    margin-right: 0% !important;
    }
    .navbar-inverse{
        background-color : darkcyan !important;
        margin-right: -2% !important; 
    }
    .navbar-brand{
    float: left;
    min-height : 20px;
    padding : 0 15px 5px !important;
    }
    .navbar-brand img{
        height: 46px !important;
        padding-left: 8px;
    }
    .navbar-toggle{
      margin-right: 35px !important;
    }
    .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
      border-color: #101010;
      padding-right: 6%;
  }
    .container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
      margin-right: -15px;
      margin-left: -15px;
  }
    .navbar-inverse .navbar-nav .active a,
    .navbar-inverse .navbar-nav .active a:focus,
    .navbar-inverse .navbar-nav .active a:hover {
    color : #FFF !important;
    }
    .navbar-inverse .navbar-nav>li>a {
        color : white !important;
    }

    .myname h3 {
        font-family: 'Asap';
        font-size: 40px;
        font-weight: 50px;
    }
    .myname h1 {
        font-family: 'Poppins';
        font-size: 40px;
        font-weight: 50px;
    }
    
    .img-circle{
        margin-top: 5%;
        margin-bottom: 15%;
        /* margin-left: 18%; */
        width : 300px;
         height : 300px;
         border-radius: 50%;
         border-style: solid;
         border-width: 5px;
         border-color: transparent;
         opacity: 1;
    }

    .aboutme-img{
        height: 300px;
        width:300px;
        margin-left: 2%;
        margin-top: 20%;
        margin-bottom: 30%;
        border-radius: 10%;
    }
    .bg-1{
        width: 100%;
        height: 30%;
        margin-top: -2%;
        margin-right: 0%;
        margin-bottom:-2%; 
        background-color:cyan;
        font-size: '40px';
        font-family: 'Asap'!important;
        font-weight: 60px;
        color:white;
    }
    .pfont{
        font-family: 'Asap'!important;
        font-size: 20px !important;
    }

/* Slide Left */
      div.slide-left {
        width:100%;
        overflow:hidden;
      }
      div.slide-left h3 {
        animation: slide-left 1s;
      }
      
      @keyframes slide-left {
        from {
          margin-left: 100%;
          width: 300%; 
        }
      
        to {
          margin-left: 10%;
          width: 100%;
        }
      }

      /* Image HOver */
      #cf6_image {
        margin:0 auto;
        width:300px;
        height:300px;
        transition: background-image 1s ease-in-out;
        background-image:url("Panda.jpg");
      }
      
      #cf6_image:hover {
        background-image:url("Adyas1.jpg");
      }

      #cf {
        position:relative;
        height:300px;
        width:300px;
        margin:0 auto;
      }
      
      #cf img {
        position:absolute;
        left:0;
        -webkit-transition: opacity 1s ease-in-out;
        -moz-transition: opacity 1s ease-in-out;
        -o-transition: opacity 1s ease-in-out;
        transition: opacity 1s ease-in-out;
      }
      
      #cf img.top:hover {
        opacity:0;
      }

      @keyframes my-move {
        from {
          margin-top: 100%;
          height: 0%; 
        }
      
        to {
          margin-top: 10%;
          width: 100%;
        }
      }

      router-outlet{
        display:none;
      }

      .routeContainer{
        position: relative;
      }
      .routeContainer>* {
        display:block;
      }