<html>
  <body>
    <div class = "imagee">
      <div class = "tex">
          <!-- <h1>Hello Beautiful</h1> -->
          <div class="footer-social-icons">
              <h1 class="_14">Follow me on</h1>
              <ul class="social-icons">
                  <li><a href="https://stackoverflow.com/users/8310827/adya" class="social-icon"><i class="fa fa-stack-overflow"></i>  -  https://stackoverflow.com/users/8310827/adya</a></li><br>
                  <li><a href="https://www.quora.com/profile/Adya-Shukla-6" class="social-icon"><i class="fa fa-quora"></i> -  https://www.quora.com/profile/Adya-Shukla-6</a></li><br>
                  <li><a href="https://www.linkedin.com/in/adya-shukla-b676ab10a/" class="social-icon"><i class="fa fa-linkedin"></i>  -  https://www.linkedin.com/in/adya-shukla-b676ab10a/</a></li><br>
                  <!-- <li><a href="" class="social-icon"> <i class="fa fa-google-plus"></i></a></li><br> -->
              </ul>
          </div>
            </div>
          </div>
</body>
</html>

